In [68]:
import numpy as np
import pandas as pd

SIZE = 1000
ITERS = 10000

In [69]:
def M(mat):
    return mat.shape[0] * np.max(np.abs(mat))

In [70]:
# TODO: Добавить график

def test_M(m_A, m_B):
    M_A = M(m_A)
    M_B = M(m_B)
    M_AB = M(m_A @ m_B)
    
    return M_A, M_B, M_AB, M_AB <= M_A * M_B
    
    print(f"M(A): {M_A}, M(B): {M_B}, M(AB): {M_AB}")
    print(f"M(AB) <= M(A) * M(B): {M_AB <= M_A * M_B}")

In [71]:
df = pd.DataFrame(columns=["M(A)", "M(B)", "M(AB)", "M(AB) <= M(A) * M(B)"], index=range(ITERS))

for index in range(ITERS):
    A = np.random.rand(SIZE, SIZE)
    B = np.random.rand(SIZE, SIZE)
    
    df.loc[index] = test_M(A, B)

df

            M(A)        M(B)          M(AB) M(AB) <= M(A) * M(B)
0     999.999982  999.998617   282590.38132                 True
1     999.999259  999.998659  283030.153455                 True
2     999.999332  999.999826  281248.837257                 True
3     999.998435  999.997913  282379.803031                 True
4     999.997211  999.998441  282935.697274                 True
...          ...         ...            ...                  ...
9995  999.999625  999.999362  284791.344209                 True
9996  999.999611  999.997371  280167.199778                 True
9997  999.996547  999.998663  284422.232425                 True
9998  999.999758  999.999718  282545.348629                 True
9999  999.998728  999.999734   284048.18666                 True

[10000 rows x 4 columns]

In [73]:
df[df["M(AB) <= M(A) * M(B)"] == False].count()
# Везде неравенство выполняется

M(A)                    0
M(B)                    0
M(AB)                   0
M(AB) <= M(A) * M(B)    0
dtype: int64